@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,700&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
/* navbar */
.active {
  font-weight: 700;
}
/*  productos */
.title {
  text-align: center;
  font-size: 40px;
  color: #6a6a6a;
  margin-top: 50px;
  font-weight: 100;
}
.container-productos {
  width: 100%;
  max-width: 1200px;
  height: 430px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  padding-bottom: 100px;
}
.container-productos .tarjeta {
  width: 330px;
  height: 430px;
  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 20px;
  text-align: center;
  transition: all 0.25s;
}
.container-productos .tarjeta:hover {
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}
.container-productos .tarjeta img {
  width: 330px;
  height: 220px;
}

.container-productos .tarjeta h4 {
  font-weight: 400;
  margin-top: 15px;
}
.container-productos .tarjeta p {
  padding: 0 1rem;
  font-size: 18px;
  font-weight: 300;
}
.container-productos .tarjeta a {
  font-weight: 500;
  text-decoration: none;
  color: #3498db;
}
/* fin de galeria de productos */
/* galeria de fotos */

.gridItem {
  width: 90%;
  margin: auto;
}
.gridItemimg img {
  width: 100%;
}

.gridItem {
  display: grid;
  grid-column-gap: 10px;
  grid-row-gap: 15px;
}
/* .gridItemimg {
  display: grid;
} */
/* responsive galeria de fotos*/

@media (min-width: 720px) {
  .gridItem {
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
  .gridItemimg img {
    width: 100%;
    height: 100%;
    background-size: cover;
  }
}
@media (min-width: 720px) {
  .gridItem {
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
  }
  .gridItemimg img {
    width: 100%;
    height: 100%;
    background-size: cover;
  }
}
@media (min-width: 1200px) {
  .gridItem {
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
  }
}
/* fin de galeria de fotos */

.icono {
  font-size: 30px;
  padding: 10px;
  color: #ddd;
  padding-top: 30px;
}
/* footer */
footer h3 {
  color: #ddd;
  padding-left: 0.3em;
  font-size: 1.6em;
}
.fa-copyright {
  font-size: 1.6em;
  color: #ccc;
}
