@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,700&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
/* navbar */
.active {
  font-weight: 700;
}
/* estilos hs de index para sm */

@media (max-width: 370px) {
  .titulo-h5 {
    font-size: 1.8em;
  }
}
@media (max-width: 720px) {
  .titulo-h5 {
    font-size: 1.8em;
  }
}
/* Galeria de productos */
.wrap {
  width: 85%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.tarjeta-wrap {
  /*   margin: 10px; */
  perspective: 800;
  -webkit-perspective: 800;
}
.tarjeta {
  width: 360px;
  height: 350px;
  background-color: #9fb0be;
  position: relative;
  transform-style: preserve-3d;
  transition: 0.7s ease;
  box-shadow: 0px 10px 15px -5px rgba(0, 0, 0, 0.65);
}

/* responsive */
@media (min-width: 480px) {
  .wrap {
    width: 420px;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
  }
  .tarjeta {
    display: flex;
    width: 400px;
  }
}
@media (min-width: 720px) {
  .wrap {
    width: 720px;
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    flex-wrap: wrap;
  }
  .tarjeta {
    width: 240px;
  }
}

.adelante,
.atras {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
}

.atras {
  transform: rotateY(180deg);
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  display: inline-block;
}

.tarjeta-wrap:hover .tarjeta {
  transform: rotateY(180deg);
}

.card img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
/* fin de galeria de productos */
/* galeria de fotos */

.gridItem {
  width: 90%;
  margin: auto;
}
.gridItemimg img {
  width: 100%;
}

.gridItem {
  display: grid;
  grid-column-gap: 10px;
  grid-row-gap: 15px;
}
/* .gridItemimg {
  display: grid;
} */
/* responsive galeria de fotos*/

@media (min-width: 720px) {
  .gridItem {
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
  .gridItemimg img {
    width: 100%;
    height: 100%;
    background-size: cover;
  }
}
@media (min-width: 720px) {
  .gridItem {
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
  }
  .gridItemimg img {
    width: 100%;
    height: 100%;
    background-size: cover;
  }
}
@media (min-width: 1200px) {
  .gridItem {
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
  }
}
/* fin de galeria de fotos */

.icono {
  font-size: 30px;
  padding: 10px;
  color: #ddd;
  padding-top: 30px;
}
/* footer */
footer h3 {
  color: #ddd;
  padding-left: 0.3em;
  font-size: 1.6em;
}
.fa-copyright {
  font-size: 1.6em;
  color: #ccc;
  padding-bottom: ;
}
